.Fidelizacion{
    background-color: #f1f2f3;
}
.circle-option{
    display: flex;
    justify-content: center;
    width: 6em;
    height: 6em;
    border:2px solid rgba(0,27,65,1);
    border-radius: 50%;
    img{
        width: 70%;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
 
}
@media (min-width: 320px) and (max-width: 768px) {
  .Fidelizacion{
      width: 100%;
      flex-direction: column;
      div{
          margin:1.5em 0em;
          width: 80vw;
          .circle-option{
              width: 20%;
          }
      }
  }
}