//Raleway...
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

//Font-Weight
.font-title{
    font-weight: 700;
}
//Font-Size
.f-size-16{
    font-size: 16px;
}
//Margin-Sizes
.m-left-5{
    margin-left: 1em;
}
.font-raleway{font-family: 'Raleway', sans-serif}

