header{
    background-color: #003d8f;
    color:white;
}
body{
    overflow-x: hidden;
}
.btn-navegacion{display: none}
@media (min-width: 768px) and (max-width: 1024px) {
  
  header{
      padding: 0em 3em !important;
      .menu{display: none}
      .login{display: none}
  }
  .btn-navegacion{
      display: flex;
      img{
        width: 2em;
        align-self: center;
        justify-self: center;
      }
  }
}
@media (min-width: 320px) and (max-width: 768px) {
  header{
      padding: 0em 3em !important;
      .menu{display: none}
      .login{display: none}
  }
  .btn-navegacion{
      display: flex;
      img{
        width: 2em;
        align-self: center;
        justify-self: center;
      }
  }
}