.MarketingPage{}
@media (min-width: 768px) and (max-width: 1024px) {
  
}
@media (min-width: 320px) and (max-width: 768px) {
  .MarketingPage{
      .MarketingPageImage{
          display: none;
      }
      div{
          padding: 0em;
          width: 100%;
      }
  }
}