.flex{
    display: flex;
}
.flex-dir-row{
    flex-direction: row; 
}
.flex-dir-col{
    flex-direction: column;
}
.al-center{
    align-items: center;
}
.jus-center{
    justify-content: center;
}
.jus-between{
    justify-content: space-between;
}
.jus-flexend{
    justify-content: flex-end;
}
.jus-space-around{
    justify-content: space-around;
}
.align-center{
    align-items: center;
}
/*Padding Content General*/
.pad-side-reset{
    padding: 0em 0em;
}
.pad-sides-content{
    padding: 0em 12vw;
}
.pad-content{
    padding: 5em 9vw;
}
.pad-title{
    padding: 3.5rem 0rem;
}
.pad-article{
    padding: 0em 2rem;
}
/*Sizes general*/
.box-article-size{
    min-height: 19rem;
}
/*Width Sizes*/
.w-20{
    width: 20%;
}
.w-80{
    width: 80%;
}
.w-100{
    width: 100%;
}
/* Color de textos*/
$color-parrafo :  #797979;

.c-parrafo{color: $color-parrafo}
/*EStilos para listas*/

.no-list{
    list-style: none;
}