.flex{
    display: flex;
}
.flex-wrap{
    flex-wrap: wrap;
}
.flex-dir-row{
    flex-direction: row; 
}
.flex-dir-col{
    flex-direction: column;
}
.al-center{
    align-items: center;
}
.jus-center{
    justify-content: center;
}
.jus-between{
    justify-content: space-between;
}
.jus-flexend{
    justify-content: flex-end;
}
.jus-space-around{
    justify-content: space-around;
}
.align-center{
    align-items: center;
}
/*Padding Content General*/
.pad-side-reset{
    padding: 0em 0em;
}
.pad-h-2{
    padding: 2em 0em;
}
.pad-left-2{
    padding:0em 2em;
}
.pad-sides-content{
    padding: 0em 12vw;
}
.pad-content{
    padding: 5em 9vw;
}
.pad-title{
    padding: 3rem 0rem;
}
.pad-article{
    padding: 0em 2rem;
}
/*Sizes general*/
.box-article-size{
    min-height: 19rem;
}
/*Width Sizes*/
.w-20{
    width: 20%;
}
.w-30{
    width: 30%;
}
.w-50{
    width: 50%;
}
.w-80{
    width: 80%;
}
.w-100{
    width: 100%;
}
.self-end{
    align-self: flex-end;
}
/* Alineamiento de textos*/
.tx-center{
    text-align: center;
}
.tx-right{
    text-align: right;
}
/* Color de textos*/
$color-parrafo :  #797979;
$color-super-titulo : #001b41;;

.c-parrafo{color: $color-parrafo}
/*EStilos para listas*/

.no-list{
    list-style: none;
}
/*Titulos*/
.title{
    color: $color-super-titulo;
}
.super-title{
    color: $color-super-titulo;
    font-size: 2.55rem;
    line-height: 3rem;
}
/*Personalizados*/
.shadow{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.1);
}
.shadow-fidelizacion{
    box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}
.radius{
    border-radius: 5px;
}
/*Bg Color*/
.bg-white{
    background-color:white; 
}
hr{
    margin-left: 0px;
    margin-right: 0px;
    width: 10em;
    background-color: #001b41;
    height: 0.03em;
}
